<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>API FRONT</title>
        <link rel="icon" href="./../img/favicon.ico" >
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="API-FrontEnd | Desafio para vaga de Desenvolvedor Full Stack - Linx Digital">
        <meta name="author" content="Candidato | Paulo Moraes">        
        <meta name="theme-color" content="#6a1b9a">
        <!-- core CSS -->
        <link rel="stylesheet" type="text/css" href="/css/costum.css" />        
    </head>
    <body>

        <div class="force-left-align">
            <form class="form-inline" action="/" method="get">

                <label for="max_products">Max Products:</label>
                <input type="number" id="max_products" name="max_products" value="<%= max_products %>"> &emsp;

                <label for="algorithm">Algorithm:</label>
                <select name="algorithm" id="algorithm">
                    <option value="mostpopular">Most Popular</option>
                    <option value="pricereduction">Price Reduction</option>
                </select>
                
                &emsp;

                <label for="size_result">Size Result JSON:</label>
                <select name="size_result" id="size_result">                    
                    <option value="complete">Complete</option>
                    <option value="compact">Compact</option>
                </select> &emsp; &emsp;

                <button type="submit" autofocus>LOADING</button>

              </form>
        </div>

        <div id="container">
            <p class="text-center text-size-14 text-color-purple text-margin"><b><%= title %></b></p>
            <div id="carousel">
              <div id="content">
                <% data.forEach((item, index) => { %>
                    <div>
                        <% if(algorithm && algorithm === "mostpopular") { %>
                            <p class="badge badge-win-gray"><%= index+1 %>ยบ</p>
                        <% } else if(item.oldPrice) { %>
                            <p class="badge badge-purple"><%= (100-((item.price/item.oldPrice)*100)).toFixed(2) %>%</p>
                        <% } %>
                        
                        <% if(item.images) { %>
                          <img src="<%= item.images.default %>" class="img-product" alt="<%= title %>" /> <br />
                        <% } else { %>
                          <img src="https://image.flaticon.com/icons/svg/565/565312.svg" class="img-product" alt="no load image" /> <br />
                        <% } %>
                        
                        <% if(item.name) { %>
                          <p> <%= (item.name).substring(0, 50) + '...' %> </p>  
                        <% } else { %>
                          <p> No description </p>  
                        <% } %>

                        <% if(item.oldPrice) { %>
                          <p>
                            <span class="text-old-price">R$ <%= item.oldPrice %></span> <br />
                            Por <b class="text-actual-price text-color-purple">R$ <%= item.price %></b> <br />
                            <%= item.installment.count %>xR$<%= item.installment.price %>
                          </p> 
                        <% } else { %>
                          <p> No description </p>  
                        <% } %>  
                        
                    </div>
                <% }) %>
              </div>
            </div>

            <button id="previous">
              <svg
                xmlns="https://image.flaticon.com/icons/svg/860/860828.svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
              </svg>
            </button>
            <button id="next">
              <svg
                xmlns="https://image.flaticon.com/icons/svg/860/860790.svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
              </svg>
            </button>
          </div>

        

    </body>
    <script src="/js/carousel.js"></script>
</html>